<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/Style_3.css') }}">
    <title>SQL Query Executor</title>
    <script> function checkPasscode()
    { var passcode = prompt("Enter passcode:");
    if (passcode === "1234") {
      document.getElementById("employeeDropdown").style.display = "block";
    }
    else {
       alert("Incorrect passcode. Access denied.");
     }
   }
 </script>
</head>
<body>
  <div class="column">
  <img src="{{ url_for('static', filename='/BMW-Logo.png') }}" alt="A picture of BMW logo" style="width:7%; max-height:7%">
  <p>BMW Pittsburgh</p>



<div class="dropdown">
<button class="dropb" >Employee</button>
<div class="dropdown-content" >
  <a href="{{url_for ('home2')}}">Main</a>
  <a href="{{url_for ('stock')}}">In stock</a>
  <a href="{{url_for ('find_employee1')}}">Find an employee Record</a>
  <a href="{{url_for ('find_service')}}">Find a Service Record</a>
  <a href="{{url_for ('find_sale')}}">Find a Sale</a>
  <a href="{{url_for ('find_customer')}}">Find a Customer</a>
  <a href="{{ url_for('analysis') }}">Customer Analysis</a>
  <a href="{{ url_for('purchase_car') }}">Purchase a vehicle</a>




</div>
</div>

</div>

  <div class="newtext">
    <h2>Who are you looking for today?</h2>
  </div>
  <div class="newtext">

    <!-- Form action points to the search_service endpoint -->
    <h2><form action="{{ url_for('search_employee') }}" method="POST">
        <label for="first_name">First:</label><br>
        <input type="text" id="first_name" name="first_name" placeholder="Enter Employee's First Name"><br><br>

        <label for="last_name">Last:</label><br>
        <input type="text" id="first_name" name="first_name" placeholder="Enter Employee's First Name"><br><br>

        <label for="employee_id">Employee ID:</label><br>
        <input type="text" id="employee_id" name="employee_id" placeholder="Enter Employee's ID"><br><br>

        <label for="department_name">Department:</label><br>
        <input type="text" id="department_name" name="department_name" placeholder="Enter Department"><br><br>

        <input type="submit" value="Find">
    </form>
</h2>
</div>

  <div class="new2text">
  	<p>Copyright © 2024 Bowen Ye, Enzo Grappone, Evan Fuccio</p>
  </div>

</body>
</html>
