<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/Style_3.css') }}">
    <title>SQL Query Executor</title>
    <script> function checkPasscode()
    { var passcode = prompt("Enter passcode:");
    if (passcode === "1234") {
      document.getElementById("employeeDropdown").style.display = "block";
    }
    else {
       alert("Incorrect passcode. Access denied.");
     }
   }
 </script>
</head>
<body>
  <div class="column">
  <img src="{{ url_for('static', filename='/BMW-Logo.png') }}" alt="A picture of BMW logo" style="width:7%; max-height:7%">
  <p>BMW Pittsburgh</p>



  <div class="dropdown">
  <button class="dropb">Customer</button>
  <div class="dropdown-content">
    <a href="{{ url_for('home') }}">Main</a>
    <a href="{{ url_for('find_car') }}">Find a car</a>
    <a href="{{ url_for('purchase_car') }}">Purchase a car</a>
    <a href="{{ url_for('find_employee') }}">Contact us</a>

  </div>
  </div>

</div>

  <div class="newtext">
    <h2>Who are you looking for today?</h2>
  </div>
  <div class="newtext">

    <h3><form method="GET" action="{{ url_for('employee_contact') }}" >

        <label for="e_name">Employee Name</label>
        <input type="text" name="e_name" id="e_name"><br>
        <h3><input type="submit" value="Find"></h3>
    </form>
  </div>

  <div class="new2text">
  	<p>Copyright © 2024 Bowen Ye, Enzo Grappone, Evan Fuccio</p>
  </div>

</body>
</html>
